@define-mixin h1 {
    font-size: 36px;
    font-weight: 600;
    font-family: var(--primary-font);

    @media (--mobileOnly) {
        font-size: 32px
    }
}

@define-mixin h2 {
    font-size: 28px;
    font-weight: 600;
    font-family: var(--primary-font);
    @media (--mobileOnly) {
        font-size: 24px
    }
}

@define-mixin h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--primary-font);

    @media (--mobileOnly) {
        font-size: 20px
    }
}

@define-mixin h4 {
    font-size: 20px;
    font-family: var(--primary-font);

    @media (--mobileOnly) {
        font-size: 18px
    }
}

@define-mixin p {
    font-size: 16px;
    font-family: var(--primary-font);

    @media (--mobileOnly) {
        font-size: 14px;
    }
}