@define-mixin spinnerDot {
  width: 16px;
  height: 16px;
  margin: 32px 5px;
  background: var(--secondary-color);
  border-radius: 50%;
}

@define-mixin buttonWithIcon {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0;
  background: none;
  border: none;

  & span {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:before {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
  }
}