.leaflet-popup-content {
  display: flex;
  flex-direction: column;
}

.marker__address, 
.leaflet-popup-content p {
  font-size: 12px;
  margin: 0;
}

.marker__button {
  font-size: 12px;
  margin: 10px 0; 
}

.marker__title {
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  font-family: var(--fontPrimary);
  font-weight: 600;
  color: var(--error-color);

  &:before { 
    display: none;
  }
}
