.homePage {
  @mixin grid;
}

.home {
  grid-column: 1/-1;
  position: relative;
}

.home__search {
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 450;

  & .home__input {
    border-radius: var(--border-radius);
    border: 2px solid rgba(0,0,0,0.2);
    height: 30px;
    padding: 0 30px 0 10px;
    font-family: var(--fontPrimary);
  }

  & .home__search {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: -35px;
    background: none;
    border: none;

    &:before {
      content: '';
      display: block;
      height: 30px;
      width: 30px;
      position: absolute;
      top: -4px;
      background: svg-load('search.svg', width: 30px, height: 30px, stroke: var(--secondary-color))
    }
  }
  
}