.userLocations {
  position: absolute;
  max-height: 90%;
  min-height: 45%;
  min-width: 280px;
  z-index: 450;
  top: 0;
  background: var(--primary-color);
}

.userLocations--hidden {
  /* display: none;  */
}

.userLocations__inner {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 20px;
}
