.userLocations {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 90%;
  min-height: 45%;
  min-width: 280px;
  z-index: 450;
  top: 0;
  background: var(--primary-color);
}

.userLocations--hidden {
  display: none; 
}

.userLocations__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding: 20px;

}

.userLocations__showAll {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}