.userLocations {
  position: absolute;
  min-height: 90%;
  z-index: 450;
  top: 0;
  background: var(--primary-color);
}

.userLocations--hidden {
  /* display: none;  */
}

.userLocations__inner {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 20px;
}

.userLocations__location {
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}