.landingPage {
  grid-column: 5/9;

  @media (--tablet) {
    grid-column: 4/10;
  }

  @media (--mobile) {
    grid-column: 2/12;
  }
}

.landingPage__changeForm {
  display: flex;
  justify-content: center;
}