:root {
  /* wrappers */
  --wrapper-main: 1440px;

  /* fonts */
  --fontPrimary: 'Montserrat';

  /* colors */
  --primary-color: #7e8287;
  --secondary-color: #4c4d49;
  --primary-button: #6699ff;
  --white: #FFFFFF;
  --black: #000000;
  --error-color: #d7263d;
  --sucess-color: #63d471;

  /* misc */
  --border-radius: 3px;
  --headerHeight: 60px;
  --footerHeight: 32px;
}