:root {
    /* wrappers */
    --wrapper-main: 1440px;

    /* colors */
    --primary-color: #7e8287;
    --secondary-color: #4c4d49;
    --primary-button: #6699ff;
    --error-color: #d7263d;
    --sucess-color: #63d471;    
}